[Unit]
Description=Actiserver

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
User=actiserver
ExecStart=/usr/bin/java -jar /etc/actimetre/Actiserver-2.0.jar
Restart=on-failure
RestartSec=30
KillMode=mixed

[Install]
WantedBy=multi-user.target
